/* CSS Document */


body {
	/*background-color: #0C690C;*/
	background:linear-gradient(darkgreen, #59B059);
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";	
}


div {
	margin: auto;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: #59B059;
	

}
