/* CSS Document */


body {
	background: linear-gradient(darkgreen, lightgreen); 
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	
}


div {
	margin: auto;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	
	

}
