/* CSS Document */


body {
	background-color:#258030;	
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
}


.wrapper1 {
	margin: auto;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: rgba(0,255,51,0.20);
	

}
